<div style="margin-top:20px" >
<!--  FormGroup is a directive.
  The FormGroup directive listens for the submit event emitted by the form element and emits an ngSubmit event that you can bind to a callback function. -->
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label >
        First Name:
        <!-- FormControlName is a directive -->
        <input type="text" formControlName="firstName" class="form-control">
      </label>
    </div>
    <div class="form-group">
      <label>
        Last Name:
        <input type="text" formControlName="lastName"  class="form-control">
      </label>
    </div>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
</div>
