  <h1>Ng Model</h1>

  <p>Current item name: {{currentItem.name}}</p>
  <p>
    <label for="without">without NgModel: with (input) and [value]:</label>
    <input [value]="currentItem.name" (input)="currentItem.name=$event.target.value" id="without">

  </p>

  <p>
    <label for="example-ngModel">with [(ngModel)]:</label>
    <input [(ngModel)]="currentItem.name" id="example-ngModel">
  </p>

  <p>
    <label for="example-bindon">bindon-ngModel: </label>
    <input bindon-ngModel="currentItem.name" id="example-bindon">
  </p>

  <p>
    <label for="example-change">with [ngModel] and (ngModelChange)="...name=$event":</label>
    <input [ngModel]="currentItem.name" (ngModelChange)="currentItem.name=$event" id="example-change">
  </p>

  <p>
    <label for="example-uppercase">with [ngModel] and (ngModelChange)="setUppercaseName($event)"
      <input [ngModel]="currentItem.name" (ngModelChange)="setUppercaseName($event)" id="example-uppercase">
    </label>
  </p>

<h2>Ng Model on a standalone control</h2>
<input [(ngModel)]="name" #myInput="ngModel" required>

    <p>Value: {{ name }}</p>
    <!-- required changes the value myInput.valid -->
    <p>Valid: {{ myInput.valid }}</p>

    <button (click)="setNameValue()">Set name value</button>
<hr>

<h2>Ng Model in Forms</h2>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
<!-- 1) When using the ngModel within <form> tags, you'll also need to supply a name attribute
so that the control can be registered with the parent form under that name.
2) In the context of a parent form, it's often unnecessary to include one-way or two-way binding, as the parent form syncs the value for you.
You access its properties by exporting it into a local template variable using ngForm such as (#f="ngForm"). Use the variable where needed on form submission.-->
  <input name="first" ngModel required #first="ngModel">
  <input name="last" ngModel>
  <button>Submit</button>
</form>

<p>First name value: {{ first.value }}</p>
<p>First name valid: {{ first.valid }}</p>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p>
